html {
  box-sizing: border-box;
  }
*, *:before, *::after {
    box-sizing: inherit;
  } 
body {
  background: #fefefe;
}
section {
  background: #ffffff;
}
h1 {
  color: blue;
}
p {
  color: #1d1285;
}
h2 {
  color: #1460aa;
}
.hotpink-header {
  color: hotpink;
}
#top {
  background: #59c97d;
}
nav a {
  color: yellow;
}
a {
  color: red;
}
.blue-header {
  color: #accacc;
}
.navigation{
  background:rgb(71,138,5);
  padding: 16px;
  border-radius: 8px;
}
.navigation__link{
  color:#fff;
  display: inline-block;
  margin-right: 20px;
}
.navigation__link--homepage{
  background: yellow;
  color: #000;
}
.week-summary{
  padding: 25px;
  border: 1px #92140c solid;
  margin-bottom: 16px;
}
.week-summary__title{
  color:#21a179;
}
.week-summary__heading{
  color: #92140c;
}
.week-summary__title--js{
  color:#1d1285;
}
.main{
  max-width: 1000px;
  margin:0 auto;
}
.footer{
  max-width: 1000px;
  margin:0 auto;
}
.notatki{
  background: #92140c;
}